<%- include('../includes/header.ejs', {pageTitle: 'Cart'})  %>

</head>
<body>
    <%- include('../includes/nav.ejs', {activeShop: true})  %>
    <main>
        <% if (products.length > 0) { %>
            <h1>Your Cart</h1>
            <ul class="product-list">
                <% products.forEach(p => { %>
                    <li class="product-item">
                        <div>
                            <h2><%= p.title %></h2>
                            <p>Quantity: <%= p.cartItem.quantity %></p>
                            <p>Price: $<%= p.price %></p>
                        </div>
                        <div>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" name="productId" value="<%= p.id %>">
                                <button type="submit">Delete</button>
                            </form>
                        </div>
                    </li>
                <% }) %>
            </ul>
            <h2>Total Price: $<%= totalPrice %></h2>
            <form action="/create-order" method="POST">
                <button type="submit">Order Now</button>
            </form>
        <% } else { %>
            <h1>Your Cart is Empty</h1>
        <% } %>
    </main>
    <% include('../includes/footer.ejs') %>