<%- include('../includes/header.ejs', {pageTitle: 'Shop'})  %>

</head>
<body>
    <%- include('../includes/nav.ejs', {activeShop: true})  %>

    <main>
        <h1>Your Orders</h1>
        <% if (orders.length > 0) { %>
            <% orders.forEach(order => { %>
                <div class="order-item">
                    <h2>Order ID: <%= order._id %></h2>
                    <ul class="product-list">
                        <% order.items.forEach(p => { %>
                            <li class="product-item">
                                <div>
                                    <h3><%= p.title %></h3>
                                    <p>Quantity: <%= p.quantity %></p>
                                    <p>Price: $<%= p.price %></p>
                                </div>
                            </li>
                        <% }) %>
                    </ul>
                    <h3>Total Price: $<%= order.items.reduce((total, p) => total + p.price * p.quantity, 0) %></h3>
                </div>
            <% }) %>
        <% } else { %>
            <h2>No orders found.</h2>   
        <% } %>
    </main>

    <% include('../includes/footer.ejs') %>
