<%- include('../includes/header.ejs', {pageTitle: 'Shop'})  %>

</head>
<body>
    <%- include('../includes/navigation.ejs', {activeShop: true})  %>
    <main class="centered">
        <div class="product-details">
            <h1><%= product.title %></h1>
            <hr>
            <div class="image">
                <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
            </div>
            <p><strong>Price:</strong> $<%= product.price %></p>
            <p><strong>Description:</strong> <%= product.description %></p>
            <%- include('../includes/add-to-cart.ejs')  %>
        </div>
    </main>
    <% include('../includes/footer.ejs') %>
